
*{
    margin: 0;

}

img{
    width: 92.5px;
    height: 29.6px;
    padding: 22px 0px;

}
nav{
    padding: 0 4%;
    background-color: black;
    
    
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    

}
a{
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    
    
}
a:hover{
    color: #E5E5E5;
    transition: color .4s;

}
.l_b{
    display: flex;
    
    align-items: center;
}
.browse{
    display: flex;
    font-size: 0.9rem;
    list-style: none;
    column-gap: 1.3em;
      
}

.selection{
    display: flex;
    /*flex-direction: row;*/
    
    position: absolute;
    right:5%;
    column-gap: 1.2em;
    
    
}

button{
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    color: white;
}
