*{
    margin: 0;

}
body{
    background-image: url('http://occ-0-2484-3647.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABeE4QzLnGoH3E8xNYgvoCBAiEg3M-Cgn9cKrPR9Qi_1WnZDpP_2stXTjcVB7XMTw3vaPHNAU7eBiYdQGG4xwYQpLXuJWJUw6sWO6.webp?r=4cf');
    
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
    
}



.logo > img{
    width: 92.5px;
    height: 29.6px;
    padding: 22px 0px;

}
.title-logo{
    width: 540px;
    height: 220px; 
}
nav{
    padding: 0 4%;
    background-color: rgb(0, 0, 0, 0.5);
    
    
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    

}
a{
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    
    
}
a:hover{
    color: #a8a8a8;
    transition: color .4s;

}
.l_b{
    display: flex;
    position: fixed;
    align-items: center;
}
.browse{
    display: flex;
    font-size: 0.9rem;
    list-style: none;
    column-gap: 1.3em;
      
}

.selection{
    display: flex;
    flex-direction: row;
    
    position: absolute;
    right:5.5%;
    column-gap: 1.5em;
    align-items: center;
    
    
}

button{
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    color: white;
}

.title_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    margin-left: 4%;
    margin-top: 6.5%;

    width: 35%;
    
    
}
.desc{
    color: white;
    font-family: 'Roboto'; 
    font-size: 1.2vw;
    padding-top: 16px;  
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding-right: 10px;
    
    

}

.avatar2{
    filter: contrast(20%);
    width: 20px;
    height: 20px;
    padding-right: 10px;
}
.menu{
    display: flex;
    flex-direction: row; 
    

}


.account-menu{
    width: 0;
    height: 0;
    border: 5px solid white; /* to make a triange shape*/
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    align-self: center;
    margin-left: 10px; /*padding-left: 10px; was stretching the element*/

}
.dropdown{
    position: relative;
    display: inline;
}

.dropdown-content{
    display: none;
    position: absolute;
    

    background-color: rgb(0,0,0,0.85);
    width: 200px;
    z-index: 1;
    border: 1px solid hsla(0,0%,100%,.15);
     
    
    padding: 5px 0 5px;
    
    line-height: 21px;
    
    


}
.dropdown-content a {
    color: white;
    
    text-decoration: none;
    display: block;
    font-size: 13px;
    padding: 10px;

 
}

.dropdown-content a:hover {
    text-decoration: underline;
}
.dropdown:hover .dropdown-content{
    display: block; 
}

.dropdown-content > span{
    vertical-align: middle;
    text-align: center;
}
.line{
    border: 1px solid hsla(0,0%,100%,.15);
}
.buttons{
    display: flex;
    column-gap: 0.8em;
    padding-top: 20px;
    
    
    
}
.playbutton{
    color: black;
    background-color: white;
    width: 130px;
    height: 45px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.7em;
    font-family: 'Roboto';
}
.infobutton{
    color: white;
    background-color: #6D6D6EB3;
    width: 180px;
    height: 45px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.7em;
    font-family: 'Roboto';
    

}
.texts{
    
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.4rem;
}
.infoicon{
    filter: contrast(0%);
}

.playbutton:hover{
    background-color: #c9c6c6;
}
.infobutton:hover{
    background-color: #c9c6c68a;
}
.notification > button{
    position: relative;
    display: inline-block;


}
.notification{
    align-items: center;
    
}

.noti-content{
    display: flex;
    padding: 12px 16px;
    display: none;
    position: absolute;
    background-color: rgb(0,0,0,0.85);
    width: 230px;
    height: 70px;
    z-index: 1;
    border: 1px solid hsla(0,0%,100%,.15);
    color:  hsla(0,0%,100%,.15);
    font-family: "Roboto";
    text-align: center;
    border-top: 3px solid hsla(0, 0%, 88%, 0.7);
    border-bottom: 2px solid hsla(0,0%,100%,.15);
    overflow: hidden;


   
}
.notification:hover .noti-content{
    display: block;

}
main{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.shows{
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    margin-left: 4%;
    line-height: 2.6;
    font-size: 1.4rem;
    background-color: transparent;
    
    
}

.parent{
    display: flex;
    gap: 8px;
    margin-left: 4%;
    background-color: #141414;;
}
.parent_img{
    border-radius: 3px;
    width: 224.73px;
    height: 126.53px;
}
.main2{
    display: flex;
    flex-direction: column;
    margin-top: 3.5%;

}